<section class="banner">
 <h1 style="font-size:50px;">Your events</h1>
 <%= link_to "Add new event", new_event_path, class: "btn btn-info" %>
</section>


<section class="gallery">
  <% @events.each do |event| %>
     <article class="card">

        <div class="img">
          <% event.photos.each do |photo| %>
            <%= image_tag photo.image.thumbnail %>
   <% end %>
        </div>
          <h2 style = "text-decoration: underline;"><%= event.name %></h2>
          <%= link_to "View", event, class: "btn btn-default" %>
          <%= link_to "Update", edit_event_path(event), class: "btn btn-default" %>
      </article>
   <% end %>
</section>


<div style="height: 30px;"> </div>

<div style="height: 50px;"> </div>
